@model CityWeather

@{
    ViewBag.Title = "Weather";
}


@*<partial name="_WeatherCardPartialView" model="Model" />*@

<div class=" cursor-pointer w-30 margin-auto margin-top-200">
    <partial name="_WeatherCardPartialView" model="Model" />

</div>


<div class="text-center">
    <a href="~/">Back to Weather Home Page</a>
</div>
           
